.chatLog{
    width: 100%;
    height: 100%;
}

.chatItemAnimate{
    animation: slide-up 0.4s ease;
}

.cardView{
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.currentDir{
    flex-direction: row-reverse;
}

.otherDir{
    flex-direction: row;
}

/* .user{
    font-weight: 600;
} */

.userIcon{
    flex: 0 1 6%;
    display: flex;
    flex-direction: column;
}

.userIconMobile{
    width: 8%;
    height: 8%;
}
.userIconDesktop{
    width: 5%;
    height: 5%;
}

.cardMessage{
    color: black;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.otherChat{
    float:left;
    clear:both;
}

.currentChat{
    float:right;
    clear:both;
}

.MsgClassA{
    padding: 5px;
    margin: 10px;
    height: fit-content;
    width: fit-content;
    background-color: var(--userA-chat-bg-color);
}

.MsgClassB{
    padding: 5px;
    margin: 10px;
    height: fit-content;
    width: fit-content;
    background-color: var(--userB-chat-bg-color);
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}